<div id="welcomeWrapper">
    <div id="welcomeTabs" class="clearfix">
        <div id="p1Tab" class="tabSelected"></div>
        <div id="p2Tab"></div>
        <div id="p3Tab"></div>
        <div id="p4Tab"></div>
    </div>		
</div>
<div id="viewPort">
<div id="slideContainer">
  <div id="commercialContainer">
      <a class="new" href="/iab/QNBRiskDataCollect?brand=FC&product=CreditCrunchRetailer&lang=en"><%= @newBusiness %></a>
      <a class="search" href="/iab/QuoteSearch?brand=FC&product=CreditCrunchRetailer&lang=en"><%= @quoteSearch %></a>
  </div>
  <div id="shopContainer">
      <a class="new" href="/iab/QNBRiskDataCollect?brand=FC&product=Retailer&lang=en"><%= @newBusiness %></a>
      <a class="search" href="/iab/QuoteSearch?brand=FC&product=Retailer&lang=en"><%= @quoteSearch %></a>
  </div>
  <div id="motorContainer">
      <a class="new" href="/iab/newbusiness?brand=FC&product=MotorTrade&lang=en"><%= @newBusiness %></a>
      <a class="search" href="/iab/search?brand=FC&product=MotorTrade&lang=en"><%= @quoteSearch %></a>
  </div>
  <div id="roadRiskContainer">                              
      <a class="new" href="/iab/newbusiness?brand=FC&product=ShopPackage&lang=en"><%= @newBusiness %></a>
      <a class="search" href="/iab/search?brand=FC&product=ShopPackage&lang=en"><%= @quoteSearch %></a>
  </div>
</div>
</div>